#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#main {
  padding: 30px;
}

#main a {
  font-weight: bold;
  color: #2c3e50;
}

#main a.router-link-exact-active {
  color: #42b983;
}

// .v-enter {
//   transform: translate(-100px, 0);
//   opacity: 0;
// }
// .v-enter-to {
//   opacity: 1;
// }
// .v-enter-active {
//   transition: all 1s 0s ease;
// }
// .v-leave {
//   transform: translate(0, 0);
//   opacity: 1;
// }
// .v-leave-to {
//   transform: translate(100px, 0);
//   opacity: 0;
// }
// .v-leave-active {
//   transition: all 0.5s 0s ease;
// }
